
Conversation opened. 1 unread message.

Skip to content
Using Gmail with screen readers
5 of 8,307
(no subject)

sreelakshmi chinnala <sreelakshmichinnala@gmail.com>
Thu, Jun 27, 11:08 PM (23 hours ago)
to me

allure-results/
screenshots/
screenshot/
test-output/
build/
reports/
logs/

opencart.log
##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
activityLog.log
##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

## OS X
##############################
.DS_Store

